/* swot-pie-chart.component.css */

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Adjust height as needed */
}

#swotPieChart {
  width: 300px; /* Adjust width as needed */
  height: 300px; /* Adjust height as needed */
}

.box {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}
