<!-- home.component.html -->

<div class="box-container">
  <!-- Your data here -->
  <h2>Welcome to the Home Page</h2>
  <p>My Name is Bala Sai Vamsi Madhupada and I am applying for the role of Java Developer.</p>
  <p>I've used Java and Springboot for the backend, MySQL for database and Angular for the frontend.</p>
  <p>You can walk through the side-nav bar to navigate between other pages of this application
  and this itself is the home page</p>
  <p>In the <u>Dashboard section</u>, you can find live data feed from backend and database
  and also, applied various filters based on which , the data gets fetched from the backend.</p>
  <p>In the <u>Visualization section</u>, I've tried my hands on visualization with a
  few variables and used various visualizations like pie-charts,line-charts aswell as bar-graphs.
  </p>

  <p>I know that the frontend looks a little messy as my work is mainly on backend and thi is
  the first time that i got a chance to work with tasks like visualization, etc.
  I will thrive to learn if given an opportunity and thanks for this one!</p>
</div>
